.paper-page {
  .shapes {
    position: absolute;
    top: 0;
    z-index: 100;
  }
  .row {
    margin: 0;
    padding: 0;
    line-height: 20px;
    height: 20px;
  }

  .shape {
    width: 20px;
    height: 20px;
    background: red;
    display: inline-block;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }

  .row:nth-child(2n+0) .shape:nth-child(2n+1) {
    border-radius: 50%;
    box-sizing: border-box;
  }

  .row:nth-child(2n+1) .shape:nth-child(2n+0) {
    border-radius: 100%;
  }
}